.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 7px;
    width: 365px;
}

.plans2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
    padding-inline: 10px;
}

.plansColor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10px;
    background-color: #f5f6f7;
}

.plans2Color {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
    padding-inline: 14px;
    background-color: #f5f6f7;
}

.pill {
    background-color: #00ED82;
    border-radius: 50px;
    padding: 5px 10px;
    color: black;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.5px;
    visibility: visible;
}

.nopill {
    visibility: hidden;
}

.plansHeading {
    color: white;
    font-size: 10px; 
    font-weight: 700; 
    letter-spacing: 0.9px;
    padding-top: 24px;
}

.plansSubheading {
    font-size: 18px; 
}

.PriceButton {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    margin-top: 14px;
    transition: 0.2s;
    border: none;
    border-radius: 5px;
    margin: 0px 100px;
}

.FXPriceButton {
    background-color: BLACK;
    color: #fff;
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 14px;
    transition: 0.2s;
    border: none;
    border-radius: 5px;
    margin: 0px 100px;
}



@media (min-width: 1024px) and (max-width: 1439px) {

    .PriceButton {
        width: 100%;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        background-color: white;
        margin-top: 14px;
        transition: 0.2s;
        border: none;
        border-radius: 5px;
    }

    .plans {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 7px;
        width: 330px;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {

    .plans {
        padding: 30px 14px;
        width: 100vw;
    }

    .plans:not(:first-child) {
        border-inline-start: 1px solid rgb(89, 89, 89);
    }

    .PriceButton {
        width: 100%;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        background-color: white;
        margin-top: 14px;
        transition: 0.2s;
        border: none;
        border-radius: 5px;
    }
}


@media (min-width: 320px) and (max-width: 767px) {

    .plans {
        padding: 10px 2px;
        gap: 5px;
        width: 100%;
        text-align: center;
    }

    .PriceButton {
        width: 100%;
        height: 48px;
        font-size: 14px;
        font-weight: 600;
        background-color: white;
        margin-top: 14px;
        transition: 0.2s;
        border: none;
        border-radius: 5px;
        margin: 0px 0px;
    }

    .plansSubheading {
        font-size: 12px; 
    }
    

}