.seriesDropdown {
    background-color: #e8eaed;
    border: none;
    width: 300px;
    border-radius: 5px;
    padding: 12px 10px;
    cursor: pointer;
    align-items: center;
    position: relative;
}

.seriesContainer {
    background-color: #e8eaed;
    border: none;
    width: 300px;
    border-radius: 5px;
    padding: 14px 16px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.seriesContainer:hover {
    background-color: #c9c9c9;
}

.arrow {
    width: 13px; 
    height: 7px; 
    filter: brightness(0);
}

.arrowActive {
    width: 13px; 
    height: 7px; 
    filter: brightness(0);
    transform: rotate(180deg);
}

.seriesDropdownContent {
    background-color: #fff;
    justify-content: space-between;
    position: absolute;
    bottom: -320px;
    width: 100%;
    left: 0px;
    overflow-y: scroll;
    max-height: 330px;
    z-index: 5;
}

.seriesDropdownItem {
    padding: 10px 12px;
    margin: 10px 5px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.seriesDropdownItem:hover {
    background-color: #e8eaed;
}

.seriesDropdownItemActive {
    padding: 10px 12px;
    margin: 10px 5px;
    font-size: 15px;
    letter-spacing: 0.5px;
    background-color: #e8eaed;
}

/* // DROPDOWN STYLES END // */


/* // MAIN OUTPUT WINDOW STYLES START// */
.delicateWindow, .NYCWindow {
    display: grid;
    padding-block: 40px; 
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}

.card {
    width: auto;
    height: auto;
    margin-bottom: 40px;
}

.imgContainer {
    width: 268px;
    height: 150px;
    border-radius: 12px;
    position: relative;
    outline: 0px solid #9f9e9e;
    transition: all 0.1s linear;
    outline-offset: 4px;
}

.imgContainerActive {
    width: 268px;
    height: 150px;
    border-radius: 12px;
    position: relative;
    outline: 4px solid #9f9e9e;
    transition: all 0.1s linear;
    outline-offset: 4px;
}

.cardContext {
    padding-top: 10px;
}

.thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.fxlogo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.episodeno {
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.title {
    font-weight: 700;
}

.desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    font-size: 13px;
    padding-top: 5px;
}