
.grid {
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    row-gap: 80px;
}

.grid img {
     width: 290px;
     height: 400px;
     object-fit: cover;
     transition: all 0.2s ease; 
}

.grid {
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    row-gap: 80px;
    margin-bottom: 120px;
    /* opacity: 1; */
}

.grid img {
     width: 290px;
     height: 400px;
     object-fit: cover;
     transition: all 0.2s ease; 
}

.name {
    font-size: 24px;
}

.designation {
    font-size: 14px;
    padding-top: 5px;
    width: 285px;
}

.grid:hover > :not(:hover) {
   opacity: 0.7;
}

.profile {
    position: relative;
    display: flex;
    justify-content: center;
}

.info:hover {
    cursor: pointer;
}

#profileBtn {
    padding: 7px 28px;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 120px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    display: none;
}

.profile:hover > #profileBtn:not(:hover){
    display: block;
}


/* // FOR EACH EXECUTIVE BIO PAGE //  */

.bioPages {
    height: 950px;
    position: fixed;
    top: 70px;
    width: 100%;
    transform: scale(0.2);
    display: none;
}

.outerDiv  {
    width: 100%;
}

.bioPagesActive {
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    transform: scale(1);
    display: flex;
    overflow-y: scroll;
    background-color: #00002280;
    z-index: 999;
}


.bioPage {
    background-color: white;
    margin-inline: auto;
    position: absolute;
    margin: 75px 120px 120px 120px;
}
.closeButtonGrp {
    display: flex;
    justify-content: end;
    font-size: 48px;
    cursor: pointer;
    margin-inline: 14px;
}

.profilePictureGrp {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.execPicture {
    width: 236px;
    height: 320px;
    object-fit: cover;
}

.downloadIcon {
    margin-top: 10px;
}

.allInfoContainer {
    display: flex;
    padding: 0px 90px 120px 90px;
}

.execName {
    font-size: 46px;
    font-weight: 800;
}

.execDesignation {
    font-size: 26px;
}

.folio {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

.copy {
    font-size: 14px;
    font-weight: 700;
    margin-top: 60px;
}