.sectionSlides {
    position: relative;
}

.slidesContainer {
    overflow-x: hidden;
}

.activeSlide {
    display: block;
    
}
.slides {
    display: none;
}

.slideImages {
    width: 100%;
    height: 820px;
    object-fit: cover;
    object-position: top;
    background-position: 0px 30px;
    display: block;
}

.image2 {
    display: none;
    width: 100%;
    height: 820px;
    object-fit: cover;
}


.tabandSlideGrp {
    position: absolute;
    top: 0px;
    padding: 200px 230px;
}


.tabContainer {
    display: flex;
    margin-bottom: 10px;
    position: relative;
    width: 370px;
    justify-content: space-between;
}

.activeTab:hover, 
.tab:hover {
     opacity: 0.8;
}

.activeTab {
    color: white;
    font-size: calc(20px - 0.4vw);
    font-weight: 700;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.tab {
    color: rgba(239, 239, 239, 0.514);
    font-size: calc(20px - 0.4vw);
    font-weight: 700;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.underline {
    height: 5px;
    width: 85px;
    background-color: white;
    position: absolute;
    bottom: -18px;
    display: block;
    transition: left 0.4s, width 0.4s;
}

.slideContentActive {
    opacity: 1;
    position: absolute;
    padding-top: 30px;
    transition: 0.5s ease-in-out all;
    width: 510px;
}

.slideContent {
    opacity: 0;
    position: absolute;
    padding-top: 60px;
}

.contentSection {
    position: relative;
}

.description {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.channelBackground {
    background-color: white;
    border: none;
    border-radius: 50%;
    align-items: center;
    display: flex;
    height: fit-content;
    width: fit-content;
}

.channelImg {
    height: 25px;
    margin: 15px 5px;
}

.channelsList {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin-block: 24px;;
}

.channelinfoGrp {
    top: 470px;
    left: 260px;
    width: 100%;
}


 @media (min-width: 320px) and (max-width: 767px) {

    .tabandSlideGrp {
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 30px 0px;
        align-items: center;
    }

    .tabs {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tabContainer {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .activeTab,
    .tab {
        margin: 0;
        font-size: calc(10px + 0.5vw);
    }
    
    .slideImages {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: left;
        display: none;
    }

    .image2 {
         display: block;
         width: 100%;
         height:auto;
         object-fit: cover;
    }

    .contentSection {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .channelinfoGrp {
        display: flex;
        justify-content: center;
    }

    .slideContentActive {
        opacity: 1;
        position: absolute;
        padding-top: 30px;
        transition: 0.5s ease-in-out all;
        width: 100%;
    }

    .description {
        color: white;
        font-weight: 400;
        font-size: calc(17px + 0vw);
        line-height: 1.0;
        letter-spacing: 0px;
        margin-top: 0px;
        margin-inline: auto;
        max-width: 380px;
    }
 }


@media (min-width: 768px) and (max-width: 1023px) {

    .tabandSlideGrp {
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 30px 0px;
        align-items: center;
    }

    .tabContainer {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        position: relative;
        width: 400px;
    }

    .activeTab,
    .tab {
        font-size: calc(10px + 0.5vw);
    }
    
    .slideImages {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: left;
        display: none;
    }

    .image2 {
         display: block;
         width: 100%;
         height: 1000px;
         object-fit: cover;
         object-position: 0px -350px;
    }

    .contentSection {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .channelinfoGrp {
        display: flex;
        justify-content: center;
    }

    .slideContent {
        opacity: 0;
        position: absolute;
        padding-top: 120px;
    } 

    .slideContentActive {
        opacity: 1;
        position: absolute;
        padding-top: 100px;
        transition: 0.5s ease-in-out all;
        max-width: 500px;
        margin-inline: auto;
    }

    .description {
        color: white;
        font-weight: 400;
        font-size: calc(17px + 0vw);
        line-height: 1.0;
        letter-spacing: 0px;
        margin-top: 0px;
        line-height: 22px;
    }

}


@media (min-width: 1024px) and (max-width: 1439px) {

 .tabandSlideGrp {
    position: absolute;
    top: 0px;
    padding: 150px 110px;
}


.tabContainer {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    position: relative;
    width: 400px;
} 

.activeTab,
.tab {
        font-size: 15px;
}

.activeTab {
    color: white;
    font-size: calc(18px - 0.5vw);
    font-weight: 700;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.tab {
    color: rgba(239, 239, 239, 0.514);
    font-size: calc(18px - 0.5vw);
    font-weight: 700;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.description {
    color: white;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: normal;
    margin-top: 20px;
    width: 440px
}
 
 .slideImages {
    width: 100vw;
    max-height: 702px;
    object-fit: cover;
    object-position: left;
    display: block;
 }

 .image2 {
    display: none;
    width: 100%;
    height: 820px;
    object-fit: cover;
}



}

 