.box {
    opacity: 1;
    transition: 0.8s ease-out;
    display: flex;
}

.offices {
    position: relative;
    width: 282px;
    height: 210px;
}

.boxesImg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counterInfo {
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    max-height: 95px;
}

.numbersOnly {
    display: flex;
}


.officeShizz>p {
    font-size: 50px;
    font-weight: 800;
}


.numbercounter {
    font-size: 50px;
    font-weight: 800;
}

.boxesContent {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2px;
    width: 240px;
}